h1 {
	font-family: "Verdana", sans-serif;
	font-size: 75px;
	font-variant: small-caps;
	color: maroon;
}

h2 {
	font-weight: bold;
	font-variant: small-caps;
}
html {
	background-image: url('https://static.pexels.com/photos/277785/pexels-photo-277785.jpeg');
	height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
